*.o
*.so
*.la
*.a
*.gmo
*.lo
.dirstamp
.DS_Store
Makefile
Makefile.in
lxclipboard
lxpolkit
lxsession-db
lxsession
lxsession-default-apps
lxsession-edit
lxsession-logout
lxsettings-daemon
lxsession-xdg-autostart
config.status
config.log
config.h
.deps/
.libs/
libtool
autom4te.cache/*
stamp*
po/POTFILES
po/.intltool-merge-cache
